#root {
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
  }
  input{
    width: 100%;
    padding: 8px;
    font-Size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .row-selected {
    background-color: rgba(167, 208, 216, 0.29) !important;
  }